/*
Plum = #460140
Gray = #949494
Black = black
*/
#main_body {
	text-align: center;
	font-family: Garamond;
	font-size: 105%;
	width: 100%;
	margin: 0 auto;
}
#header {
	min-height: 50px;
	width:100%;
	position: fixed;
	z-index: 1;
	background-color: white;
	border-bottom: 2px solid #949494;
}

#header a {
	font-size: 20px;
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	color: #460140;
}
#header a:hover{
}

#header ul {
	padding: 0px;
	margin: 0px;
}

#header li {
	display: inline;
	list-style: none;
	text-align:center;
	line-height: 60px;
	font-weight: bold;
}

.content{
	display: inline-table;
	margin: 0px auto;
	min-height: 50px;
	padding: 61px 0px 0px 0px;
	text-align: center;
	width:90%;
	border-bottom: 2px solid #949494;
}	

#welcome{

}

#welcome img, #footer img, #details img{
	width: 100%;
}

#registry img {
	width: 50%;
}

#people {
	display: block;
}

#people-left{
	width:100%;
}
#people-right{
	width:100%;
}
#people img{
	height: 200px;
	padding: 10px;
}

#details {

}

.left, .center{
	width:100%;
}
.right{
	width:100%;
}

iframe {
	height: 400px;
	width: 98%;
}

#photos{

}




