/*
Plum = #460140
Gray = #949494
Black = black
*/

ul {
	padding: 0px;
	margin: 0px;
}
#main_body {
	text-align: center;
	font-family: Garamond;
	width: 100%;
	margin: 0 auto;
}
#header {
	min-height: 50px;
	width:100%;
	position: fixed;
	z-index: 1;
	background-color: white;
	border-bottom: 2px solid #949494;
}

#header a {
	font-size: 20px;
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	color: #460140;
}
#header a:hover{
	background-color: #949494;
}

#header li {
	display: inline;
	list-style: none;
	text-align:center;
	line-height: 60px;
	font-weight: bold;
}

.content{
	display: block;
	margin: 0px auto;
	min-height: 50px;
	padding: 61px 0px 0px 0px;
	text-align: center;
	width:90%;
	border-bottom: 2px solid #949494;
	background-color: blue;
}	

#welcome{

}
#welcome img, #footer img{
	width: 100%;
}

#people {
	display: inline-table;
}

#people-left{
	width: 48%;
	float:left;
}
#people-right{
	width: 48%;
	float:right;
}
#people img{
	display: block;
	height: 200px;
	padding: 10px 0px 10px 0px;
}

#details {

}
iframe {
	height: 400px;
	width: 98%;
}
#registry{
}

#photos{

}




