/*
Plum = #460140
Gray = #949494
Black = black
*/
#main_body {
	text-align: center;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	width: 100%;
	margin: 0 auto;
}
#header {
	min-height: 50px;
	width:100%;
	position: fixed;
	z-index: 1;
	background-color: white;
	border-bottom: 2px solid #949494;
}

#header a {
	font-size: 20px;
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	color: #460140;
}

#header ul {
	padding: 0px;
	margin: 0px;
}

#header li {
	display: inline;
	list-style: none;
	text-align:center;
	line-height: 60px;
	font-weight: bold;
}

#footer {
	width: 100%;
	border-top: 2px solid #949494;
}

.content{
	display: inline-table;
	margin: 0px auto;
	min-height: 50px;
	padding: 61px 0px 0px 0px;
	text-align: center;
	width:90%;
	border-bottom: 2px solid #949494;
}	

#welcome{

}

#welcome img, #footer img, #details img, #registry img{
	width: 100%;
}

#people {

}

#people-left{
	width: 48%;
	float:left;
}
#people-right{
	width: 48%;
	float:right;
}
#people img{
	display: block;
	height: 200px;
	padding: 10px;
}

#details {

}

.left, .center{
	width: 30%;
	float:left;
	margin-right:5%;
}
.right{
	width: 30%;
	float:left;
}

iframe {
	height: 400px;
	width: 98%;
}
#registry {

}

#photos{
	width: 60%
}






